In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../Data/Raw/co-emissions-by-sector.csv")
df.head()

,Entity,Code,Year,Carbon dioxide emissions from buildings,Carbon dioxide emissions from industry,Carbon dioxide emissions from land use change and forestry,Carbon dioxide emissions from other fuel combustion,Carbon dioxide emissions from transport,Carbon dioxide emissions from manufacturing and construction,Fugitive emissions of carbon dioxide from energy production,Carbon dioxide emissions from electricity and heat,Carbon dioxide emissions from bunker fuels
0,Afghanistan,AFG,1990,129999.99,50000.0,-2390000.0,0.0,980000.0,570000.0,NaN,320000.0,20000.0
1,Afghanistan,AFG,1991,140000.00,50000.0,-2390000.0,0.0,930000.0,530000.0,NaN,300000.0,20000.0
2,Afghanistan,AFG,1992,150000.00,50000.0,-2390000.0,0.0,740000.0,390000.0,NaN,200000.0,20000.0
3,Afghanistan,AFG,1993,160000.00,50000.0,-2390000.0,0.0,740000.0,380000.0,NaN,200000.0,20000.0
4,Afghanistan,AFG,1994,160000.00,50000.0,-2390000.0,0.0,730000.0,360000.0,NaN,190000.0,20000.0

In [12]:
df.dtypes

Entity                                                           object
Code                                                             object
Year                                                              int64
Carbon dioxide emissions from buildings                         float64
Carbon dioxide emissions from industry                          float64
Carbon dioxide emissions from land use change and forestry      float64
Carbon dioxide emissions from other fuel combustion             float64
Carbon dioxide emissions from transport                         float64
Carbon dioxide emissions from manufacturing and construction    float64
Fugitive emissions of carbon dioxide from energy production     float64
Carbon dioxide emissions from electricity and heat              float64
Carbon dioxide emissions from bunker fuels                      float64
dtype: object

In [13]:
df.isna().sum()

Entity                                                             0
Code                                                             341
Year                                                               0
Carbon dioxide emissions from buildings                          127
Carbon dioxide emissions from industry                           252
Carbon dioxide emissions from land use change and forestry         3
Carbon dioxide emissions from other fuel combustion              127
Carbon dioxide emissions from transport                          127
Carbon dioxide emissions from manufacturing and construction     128
Fugitive emissions of carbon dioxide from energy production     4162
Carbon dioxide emissions from electricity and heat               127
Carbon dioxide emissions from bunker fuels                       127
dtype: int64

In [14]:
df[df["Code"].isnull()].Entity.unique()

array(['Africa', 'Asia', 'Europe', 'European Union (27)',
       'High-income countries', 'Low-income countries',
       'Lower-middle-income countries', 'North America', 'Oceania',
       'South America', 'Upper-middle-income countries'], dtype=object)

In [15]:
# Countries df = only countries info
# Region df = excludes the countries and only has the info from continents, subcontitnent and for income range
Countries_df = df[df["Code"].notnull()]
Region_df = df[df["Code"].isnull()].drop("Code", axis=1)

In [16]:
Countries_df.head()

,Entity,Code,Year,Carbon dioxide emissions from buildings,Carbon dioxide emissions from industry,Carbon dioxide emissions from land use change and forestry,Carbon dioxide emissions from other fuel combustion,Carbon dioxide emissions from transport,Carbon dioxide emissions from manufacturing and construction,Fugitive emissions of carbon dioxide from energy production,Carbon dioxide emissions from electricity and heat,Carbon dioxide emissions from bunker fuels
0,Afghanistan,AFG,1990,129999.99,50000.0,-2390000.0,0.0,980000.0,570000.0,NaN,320000.0,20000.0
1,Afghanistan,AFG,1991,140000.00,50000.0,-2390000.0,0.0,930000.0,530000.0,NaN,300000.0,20000.0
2,Afghanistan,AFG,1992,150000.00,50000.0,-2390000.0,0.0,740000.0,390000.0,NaN,200000.0,20000.0
3,Afghanistan,AFG,1993,160000.00,50000.0,-2390000.0,0.0,740000.0,380000.0,NaN,200000.0,20000.0
4,Afghanistan,AFG,1994,160000.00,50000.0,-2390000.0,0.0,730000.0,360000.0,NaN,190000.0,20000.0

In [17]:
# Some values werent measured so I replaced them for nan values to avoid it affecting the nmerical analysis 
Countries_df.replace([0.0, ""], np.nan, inplace=True)
df.replace([0.0, ""], np.nan, inplace=True)

/tmp/ipykernel_4900/354926358.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Countries_df.replace([0.0, ""], np.nan, inplace=True)

In [18]:
Countries_df.to_csv("../Data/Processed/Countries_df.csv", index=False)
Region_df.to_csv("../Data/Processed/Region_df.csv", index=False)
df.to_csv("../Data/Processed/worldwide_df.csv", index=False)